body {
    background-image: url('../../resources/images/background/sign-up-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.signUpBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signUpLabel {
    display: block;
    margin-bottom: 10px;
    font-size: 35px;

}

.signUpContainer {
    width: 500px;
    height: 378px;
    max-width: 500px;
    max-height: 450px;
    padding: 30px;
    border: 1px solid black;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 0 black;
}

.signUpForm {
    display: block;
}

.formRow {
    margin-bottom: 20px;
}

.formRow input {
    width: calc(100% - 16px); /* Adjusted width for responsiveness */
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 0.5rem;

}

.form-button {
    background-color: #09435e;
    color: white;
    text-decoration: none;
    width: calc(100% - 32px); /* Adjusted width for responsiveness */
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

.form-button:hover {
    background-color: #062f42;
    box-shadow: 0 0 0 0.8px black;
}
