body {
  background-image: url('../../resources/images/background/sign-up-background.jpg'); /* The URL of the image file */
  background-size: cover; /* Cover the entire page */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* The background is fixed with regard to the viewport */
  background-position: center; /* Center the image on the page */
}

.signUpBar {
    padding-top: 100px;
    display: block;
    text-align: center;
    height: auto;
}

.signUpLabel {
    display: block;
    margin-bottom: 20px;
}

.signUpContainer {
    width: auto;
    height: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
}

.signUpForm {
    display: block;
}

.formRow {
    margin-bottom: 20px;
}

.formRow label {
    display: block;
    margin-bottom: 5px;
}
.formRow input {
    display: block;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 10px;
}

.form-button {
    display: block;
    background-color: #09435e;
    color: white;
    padding: 10px 16px;
    border: 1px solid black;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.5s;
    cursor: pointer;
    margin: 40px auto 0;
}

.form-button:hover {
    background-color: #062f42;
    box-shadow: 0 0 0 0.8px black;
}
