
.Log-in-bar {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Log-in {
    margin-bottom: 20px;
}

.Log-in-container {
    width: 300px;
    height: 350px;
    border: 1px solid black;
}