.main-section {
    min-height: 100%;
}

/* For the hero section*/
.hero-section {
    padding: 25px;
    padding-top: 100px;
    background-image: url('../../resources/images/background/HeroImage.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero-quote {
    font-size: 60px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    margin: auto;
}

.search-bar {
    width: 50vw;
    padding: 10px 40px 10px 37px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 25px;
    outline: none;
}

.search-icon-button {
    font-size: 20px;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
    padding: 0 10px;
}

.search-bar::placeholder {
  color: #333;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 0 0.8px black;
}

.explore-courses-link {
    display: inline-block;
    background-color: #ffcc4a;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.5s;
}

.explore-courses-link:hover {
    background-color: #deb140;
}

/* Most popular courses */
.slider-container, .categories-container {
    margin: 40px;
    margin-top: 75px;
}

#course-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.slide {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.slide img {
    max-width: 100%;
}

.course-title {
  margin: 10px 0;
  text-align: center;
}

.course-button {
  background-color: #09435e;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.course-button:hover {
  background-color: #062f42;
}

/* Most popular categories */
.categories-container {
    margin-top: 75px;
}

.categories-container .categories {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.category {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.category button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: inline-block;
    width: min-content;
    background-color: #EAEAEA;
}

.category button img {
    width: 150px;
    height: 150px;
    padding: 40px;
    display: block;
}

.category button img:hover  {
    transform: scale(1.1);
}



