.flex-container {
    min-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutUsLabel {
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    font-size: 50px;
    background-color: #ebebeb;
    text-align: center;
}

.text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img-left {
    flex-direction: row-reverse;
}

.img-right {
}

.content-image {
    width: 20vw;
    max-width:
    height: auto;
    margin: 0 20px;
}

.paragraph {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
    border-top: double gray;
    margin: 0 auto;
    text-align: center;
}

section {
    flex: 1;
}

.subtitleLabel {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        text-align: center;
    }

    .paragraph {
        padding-left: 20px;
        padding-right: 20px;
    }

    .content-image {
        display: none;
    }
}

@media (min-width: 800) {
    .content-image {
        width: 200px;
    }
}