.site-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* When the sidebar is visible, show the overlay */
.category-sidebar.sidebar-visible ~ .site-overlay {
    display: block;
}

.browser-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

.top {
    width: 100%;
}

.results-header {
    font-size: 40px;
}

/* Filter and sorting select styles */
.button-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.filter-button,
.sort-container {
    align-items: center;
}

.sort-select,
.filter-button {
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1.5px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.sort-container {
    position: absolute;
    right: 5%;
    margin-left: auto;
    margin-right: 0;
}

.sort-select:hover {
    background-color: #EAEAEA;
}

.filter-button {
    margin-right: 10px;;
    padding: 14px 10px;
    width: 120px;
    justify-content: center;
}

.filter-button:hover {
   background-color: #EAEAEA;
}

.filter-text, .sort-label {
    text-align: center;
    font-weight: bold;
}

.clear-filter {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.clear-filter:hover {
    text-decoration: underline;
}

.sort-label {
    margin-right: 10px;
    font-size: 18px;
}

/* Sidebar styles */
.category-sidebar {
    display: none;
    flex: 1;
}

.category-sidebar.sidebar-visible {
    display: block;
}

/* Custom checkbox styles */
.category-option {
    margin-bottom: 10px;
}

.category-option input[type="checkbox"] {
    accent-color: #062f42;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.category-option label {
    position: relative;
    bottom: 3px;
    margin-left: 6px;
    font-size: 18px;
    cursor: pointer;
}

#filterResultsHeader {
    display: none;
}

#sidebarDoneButton {
    display: none;
}

/* Courses styles */
.course-container {
    flex: 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.course-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.course-title {
    margin: 10px 0;
}

.course-button {
    background-color: #09435e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.course-button:hover {
    background-color: #062f42;
}

.image-box {
    position: relative;
}

.image-box:hover {
    cursor: pointer;
}

.image-box:hover .image-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.image-box:hover .course-image {
    filter: grayscale(1) brightness(0.4);
    transition: filter 0.3s ease-in-out;
}

.image-box .course-image {
    transition: filter 0.3s ease-in-out;
}

.image-text {
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: 90%;
    color: white;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    text-align: center;
}

@media (max-width: 768px) {
    /* Filter and sorting select styles */
    .filter-button, .sort-container, .clear-filter, .sort-label {
        font-size: 14px;
        padding: 10px 5px;
    }

    .sort-container {
        position: relative;
        right: 0px;
        bottom: 10px;
    }

    .sort-label, .sort-select {
        display: block;
        margin: 0 auto;
    }

    /* Courses styles */
    .course-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 980px) {
    /* Sidebar on smaller devices styles */
    .category-sidebar {
        display: none;
        position: fixed;
        right: -100%;
        top: 0;
        width: 80%;
        max-width: 300px;
        height: 100%;
        background-color: #fbfaf9;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transition: right 0.3s ease;
        z-index: 1000;
    }

    .category-sidebar.sidebar-visible {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        right: 0;
        top: 0;
        width: 80%;
        max-width: 300px;
        height: 100%;
        background-color: #fbfaf9;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5);
        transition: right 0.3s ease;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1000;
    }

    /* Results and clear filters header */
     .category-sidebar.sidebar-visible #filterResultsHeader {
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }

    .results-count {
        font-size: 18px;
        font-weight: bold;
    }

    #clearFilterInSidebar {
        margin-left: auto;
        padding: 0px 30px;
        width: auto;
        right: 0px;
    }

    /* Done button styles */
    .category-sidebar.sidebar-visible #sidebarDoneButton {
        margin-top: auto;
        background-color: #09435e;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        width: auto;
        bottom: 20px;
    }

    .category-option label {
        margin-left: 0px;
        font-size: 15px;
    }

}